<div *ngIf="profile">
    <div class="panel panel-default">
      <div class="panel-heading">
         {{profile.name}} {{profile.login}}
        

      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <img src="{{profile.avatar_url}}" class="img-circle" img-responsive alt="profile image">

          </div>
          <li class="list-group-item" *ngIf="profile.email">
            <a href="emailto:{{ profile.email }}">{{ profile.email }}</a>
          </li>
        
      </div>
      <div class="col-md-4">
        <span class="label label-default"
          >{{ profile.followers }} Followers</span
        >
        <br />
        <span class="label label-primary"
          >{{ profile.following }} Following</span
        >
        <br />
        <span class="label label-success"
          >{{ profile.public_gists }} Public gists</span
        >
        <br />
        <span class="label label-info"
          >{{ profile.public_repos }} Public Repos</span
        ><br />
      </div>

      <div class="col-md-12">
        <div class="row">
          <div id= "twty"class="col-md-4 card">
            <p class="clearfix">
            
              <a
                href="{{ profile.html_url }}"
                target="_blank"
                class="btn btn-warning btn-sm float-right"
                id="btn"
                >View this project on Github</a
              >
            </p>
            <p>Number of forks: {{ profile.forks }}</p>
            <p>Description: {{ profile.description }}</p>
            <p>Language: {{ profile.language }}</p>
            <div class="date">
              <small
                ><span>last modified:</span>{{ profile.updated_at | date }}

        

           
              </small>
          </div>

          </div>
        </div>
    </div>
      </div>
      </div>
</div>
